.login-form {
  background: #9f9e9e8a;  
  padding: 42px;
  text-align: left;
  color: white;
  margin-bottom: 15px;
}

.login-button {
  background: #d69343;
  border-color: #d69343;
  color: white;
}

h1 {
  text-align: center;
}